# Metadata used for LTC map on webpage

[Visualization](https://ubco-mds-2019-labs.github.io/data-599-capstone-statistics-canada/kt/)

---

In [17]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../merge_LTC_database/merged_LTC_odhf.csv')

In [37]:
keep2 = ['name', 'LHIN', 'home_type', 'number_beds', 'longitude', 'latitude', 'Status']

webpage = df.loc[:,keep2]

In [44]:
webpage.rename(columns = {'name': 'cleaned_name',
                         'longitude': 'long',
                         'latitude': 'lati',
                         'Status' : 'status'}, inplace = True)

In [40]:
# convert status column NAs to "No Outbreak"
webpage.loc[webpage.loc[:, 'status'].isna(), 'status'] = "No Outbreak"

In [42]:
def define_outbreak(x):
    if x == "No Outbreak":
        return "No"
    else:
        return "Yes"
    
webpage['outbreak'] = webpage.status.map(lambda x: define_outbreak(x))

In [60]:
webpage.loc[:, 'number_beds'] = webpage.number_beds.apply(int)

In [61]:
webpage.to_csv('../../docs/kt/data/ltc_points.csv')

---
### Comparing scrapes

In [47]:
df2 = pd.read_csv('/Users/kt/Documents/UBC_MDS/capstone/data-599-capstone-statistics-canada/docs/kt/data/ltc_points_orig.csv')

In [54]:
df2.groupby('status').count()

,cleaned_name,home_type,number_beds,long,lati,Status,outbreak,LHIN,total_inspections
status,,,,,,,,,
Active,180,180,180,180,180,180,180,180,180
Inactive,64,64,64,64,64,64,64,64,64
No Outbreak,385,382,383,384,384,0,385,383,384

In [53]:
webpage.groupby('status').count()

             cleaned_name  LHIN  home_type  number_beds  long  lati  outbreak
status
Active                129   129        129          129   129   129       129
Inactive              164   164        164          164   164   164       164
No Outbreak           332   332        332          332   331   331       332