## LTC Web Scraping

[How Ontario is responding to Covid-19](https://www.ontario.ca/page/how-ontario-is-responding-covid-19)

**Authors:** KT and Shreeram

*Note:* must run selenium server in command prompt

`java -jar /path/to/selenium-server`

`java -jar /usr/local/bin/selenium-server-standalone-3.141.59.jar`

must also have installed

`brew cask install chromedriver`

`brew cask install chromium`

---

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
r = requests.get('https://www.ontario.ca/page/how-ontario-is-responding-covid-19#section-1')
s = BeautifulSoup(r.text,'html5lib')

In [21]:
from selenium import webdriver
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities

driver = webdriver.Remote(
   command_executor='http://127.0.0.1:4444/wd/hub',
   desired_capabilities=DesiredCapabilities.CHROME)

In [22]:
my_url = 'https://www.ontario.ca/page/how-ontario-is-responding-covid-19#section-1'
driver.get(my_url)

In [34]:
df = pd.read_html(driver.page_source)[6]
df2 = pd.read_html(driver.page_source)[7]

In [36]:
df.head()

,LTC Home,City,Beds,Confirmed Resident Cases,Resident Deaths,Confirmed Staff Cases
0,"Albright Gardens Homes, Incorporated",Beamsville,231,<5,0,0
1,Alexander Place,Waterdown,128,<5,0,0
2,Almonte Country Haven,Almonte,82,0,30,0
3,Altamont Care Community,Scarborough,159,<5,52,24
4,Anson Place Care Centre,Hagersville,61,28,23,29

In [37]:
df.to_csv('ltc-active_secondScrape.csv')
df2.to_csv('ltc-inactive_secondScrape.csv')

In [38]:
df2['Status'] = 'Inactive'

In [39]:
df['Status'] = 'Active'

In [40]:
all_ltc = df.append(df2)

In [41]:
all_ltc.to_csv('../data/merged_ltc_secondScrape.csv')