## LTC Web Scraping

[How Ontario is responding to Covid-19](https://www.ontario.ca/page/how-ontario-is-responding-covid-19)

**Authors:** KT and Shreeram

*Note:* must run selenium server in command prompt

`java -jar /path/to/selenium-server`

`java -jar /usr/local/bin/selenium-server-standalone-3.141.59.jar`

must also have installed

`brew cask install chromedriver`

`brew cask install chromium`

---

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
r = requests.get('https://www.ontario.ca/page/how-ontario-is-responding-covid-19#section-1')
s = BeautifulSoup(r.text,'html5lib')

In [2]:
r.request.headers

{'User-Agent': 'python-requests/2.23.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [3]:
r.headers['Last-Modified']

'Thu, 04 Jun 2020 19:05:10 GMT'

#### Method 5: Selenium Server

In [5]:
from selenium import webdriver
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities

driver = webdriver.Remote(
   command_executor='http://127.0.0.1:4444/wd/hub',
   desired_capabilities=DesiredCapabilities.CHROME)

In [6]:
my_url = 'https://www.ontario.ca/page/how-ontario-is-responding-covid-19#section-1'
driver.get(my_url)

In [9]:
df = pd.read_html(driver.page_source)[5]
df2 = pd.read_html(driver.page_source)[6]

In [13]:
df2.head()

                               LTC Home         City  Beds Resident Deaths
0  Albright Gardens Homes, Incorporated   Beamsville   231               0
1                       Alexander Place    Waterdown   128               0
2                             Allendale       Milton   200               0
3               Altamont Care Community  Scarborough   159              53
4    Arbour Creek Long-Term Care Centre     Hamilton   129               0

In [12]:
df.head()

,LTC Home,City,Beds,Confirmed Resident Cases,Resident Deaths,Confirmed Staff Cases
0,Afton Park Place Long Term Care Community,Sarnia,128,0,0,<5
1,Almonte Country Haven,Almonte,82,<5,29,<5
2,Anson Place Care Centre,Hagersville,61,0,23,<5
3,Billings Court Manor,Burlington,160,0,<5,0
4,Burton Manor,Brampton,128,0,12,<5

In [ ]:
# df.to_csv('ltc-active_thirdScrape.csv')
# df2.to_csv('ltc-inactive_thirdScrape.csv')

In [14]:
df2['Status'] = 'Inactive'

In [15]:
df['Status'] = 'Active'

In [16]:
all_ltc = df.append(df2)

In [18]:
all_ltc.to_csv('../merge_LTC_database/merged_ltc_thirdScrape.csv')